.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  